* {
    margin: 0;
    padding: 0;
}

.banner-container {
    width: 100%;
    height: 100vh;
    background-image: url("./banner/banner3.png");
    background-repeat: no-repeat;
    
    
}
.banner-detels {
    
}

.banner-title {
    padding-top: 216px;
    font-weight: bold;
    font-size: 65px;
    color: #FFFFFF;
    margin-right: 80px;
    text-align: right;
}
.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: right;
    margin-right: 80px;
    margin-top: 24px;
}
.contact-btn {
    
    padding: 12px 10px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    
}

.primary-btn {
    text-align: right;
    margin-right: 80px;
    margin-top: 32px;

}

/* person img section style  */

.person {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 131px 200px 129px 206px;
}

.person-title {
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    margin-top: 370px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.person-item  {
    
    text-align: left;
}

.person-img {
    margin-right: 87px;
    margin-top: 131px;
}

i {
    color: green;
}
.person-items {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.person-description {
    margin-bottom: 16px;
}

/* my plans section style  */

.section-title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 120px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.my-plans {
    display: flex;
    justify-content: space-around;
    margin-left: 230px;
    margin-right: 230px;

}

.my-plans-item-icon {
    width: 92.96px;
    height: 92.96px;
    margin-bottom: 20px;
}

.my-plans-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
}

.my-plans-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
 .section-title .my-plans-item-icon {
    align-items: center;

 }

 /* watch section  */

 .watch-title {
    font-weight: 700;
    font-size: 40px;
    width: 459px;
    height: 94px;
    left: 294px;
    top: 2280.96px;
    margin-left: 223px;
    padding-top: 29px;
 }

 .watch img {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


 .watch {
    background-image: url("/gradient1.png"), url("/banner/watch.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 130px;
    margin-bottom: 130px;
    height:35vh;
    border-radius: 10px;
    color: white;
    

 }

 .watch button {
    margin-left: 223px;
    margin-top: 30px;
 }

 

 /* footer style  */

 .footer {
    display: flex;
 }
 .footer-section {
    width: 100%;
    height: 50vh;
    background-color: #151414;
    color: white;
 }



    